# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
Library/ShaderCache/f/fff94de54b7ea29e95584bc015da0e14.bin
Library/ShaderCache/f/fff78e0ec21e08a764400891a94b5a7f.bin
Library/ShaderCache/f/fff436b0149452c0f61a7d629b6134e3.bin
Library/ShaderCache/f/fff41bcbe77735bf694670e311fcdf51.bin
Library/ShaderCache/f/fff3e13bc55f3685dc1f5af265f63f78.bin
Library/ShaderCache/f/ffee04f1419e797dfaae31f8c04e839c.bin
Library/ShaderCache/f/ffedd3a61873be8ef6d1b88a2d9cc17e.bin
Library/ShaderCache/f/ffebde58eb3970b879273d0857f6e43a.bin
Library/ShaderCache/f/ffe8b6b5693191ec81583b034250a874.bin
